body{
    font-family: "Merriweather", Helvetica, sans-serif;
    font-size: 18;
}
.heade{
    background-color: rgb(240, 235, 244);
    padding: 3%;
    top:0;
    margin: 0;
    margin-bottom: 200px;
    width: 100%;
    position: fixed;
}
h1{
    color: purple;
    font-size: 48;
}

h2{
    color: purple;
    font-size: 32;
}

h3{
    color: purple;
    font-size: 20;
}

header{
    text-align: center;
}

a{
    text-decoration: none;
    color:blueviolet;
}

.middile.ul{
    text-align: left;
}

ul{
    list-style-type: none;  
    justify-self: center;
}
.rdetial{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 60px;
    gap: 30px;
}
.rdetial2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.rdetial img{
    width: 80%; 
}
img{
    /* float: left; */
    left: 0px;
    margin-right: 10px;
    margin-left: 60px;
    width: 89%; 
    height: 500px;
}

.img1{
    margin-right: 30px;
    margin-left: 10px;
}

table, th, td {
    border: 1px solid;
    margin: 20px;
  }

label{
    text-align: left;
}

.clearfix {
    overflow: auto;
}

#bird{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#explore, #bird, #selfi, #lofi, #namobuddha{
    background-color: rgb(240, 235, 244);
    padding: 20px;
}

.righttxt{
    text-align: justify;
    margin:0 70px 50px;
    padding: 40px;
    /* float: right;*/
    width: 28%;
    
    background-color: #e2a579;
    
    box-shadow: 0 0 0.15em 0.15em rgb(157, 110, 110);
}
.rtxt{
    text-align: justify;
    margin:0 70px 50px;
    padding: 40px;
    /* float: right;*/
    margin-top: -24%;
    margin-left: 63%;
    width: 34%;
    
    background-color: #e2a579;
    
    box-shadow: 0 0 0.15em 0.15em rgb(157, 110, 110);
}
.cont{
    text-align: justify;
    margin: 12% -5% 4% 35%;
    /* padding:40px 0 40px 180px; */
    width: 36%;
    box-shadow: 0 0 0.3em 0.3em rgb(157, 110, 110);
    background-color: rgb(240, 235, 244);
    width: 900;
}
table{
content: center;
}
.cont{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 1% auto;
    padding: 30px;
}
.righttxt a{
    color: white;
}

#form{
    text-align: center;
    margin:2% auto;
    padding: 40px;
    width: 28%;
}

.subform{
    text-align: center;
    box-shadow: 0 0 0.3em 0.3em rgb(157, 110, 110);
    background-color: rgb(240, 235, 244);
    padding: 50px 20px 20px 20px;
}
  
input[type="name"], input[type="tel"], input[type="email"] {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    margin: 20px;
    line-height: 20px;
  }
  
button[type="submit"] {
    width: 30%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
button[type="submit"]:hover {
    background-color: purple;
  }
.birdy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.middle{
    color: #800080;
    text-align: center;
}
.middile.ul{
    text-align: center;
}
p.middle{
    color:#ae7c4a;
}
#visit{
    width: 60%;
    margin: 0 20% 5% 20%;
    text-align: justify;
}
input, button{
    border: none;
}
button{
    background-color: purple;
    padding: 8px;
    color:white;
}
.middle.button{
    color:white;

}
label{
    text-align: left;
}
footer{
 padding: 1%;
 font-size: 15px;
}
.point{
    width: 55%;
    margin: 0% auto;

}
